<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LabxDB {{ name }}</title>
  {% import 'header.jinja' as header %}
  {% block header %}{% endblock %}
</head>
<body>

<div id="page">
{% block content %}{% endblock %}
</div>

</body> 
</html>
