{% extends "default.jinja" %}

{% block header %}
{{ header.links(base_url, css_files=['css/default.css', 'css/toolbar.css', 'css/board.css'], js_files=[]) }}
{% endblock %}

{% block content %}
<div class="main-container">

{% include 'toolbar.jinja' %}

<div id="record-table-toolbar" class="record-table-toolbar"></div>
<div class="record-table-container">
  <div id="record-table" class="record-table"></div>
  <div class="record-table-overlay">
    <img class="record-table-loader" id="loader" src="{{ base_url }}/static/img/spin.gif">
  </div>
</div>

</div>

<script type="module">
import { addLoadEvent } from '{{ base_url }}/static/js/utils.js'
import { {{ board_class }} } from '{{ base_url }}/static/{{ board_path }}'
import { Toolbar } from '{{ base_url }}/static/js/toolbar.js'

function init() {
    let columns = {{ columns|safe }}
    let column_infos = {{ column_infos|safe }}
    let column_titles = {{ column_titles|safe }}
    let search_criterions = {{ search_criterions|safe }}
    let sort_criterions = {{ sort_criterions|safe }}
    let limits = {{ limits|safe }}
    let levels = {{ levels|safe }}
    let level_infos = {{ level_infos|safe }}
    let baseURL = "{{ base_url|safe }}"
    // Board
    window.board = new {{ board_class }}(document.getElementById("record-table"), document.getElementById("record-table-toolbar"), document.getElementById("loader"), columns, column_infos, column_titles, levels, level_infos, baseURL)
    // Toolbar
    window.toolbar = new Toolbar(document.getElementById("main-toolbar"), columns, column_infos, levels, level_infos, baseURL)
    window.toolbar.initSearchCriterions(search_criterions)
    window.toolbar.initSortCriterions(sort_criterions)
    window.toolbar.initLimit(limits)
    // Load default
    window.board.getRecords(document.getElementById("main-toolbar-form"))
}

addLoadEvent(init)
</script>
{% endblock %}
