{% extends "default.jinja" %}

{% block header %}
{{ header.links(base_url, css_files=['css/default.css', 'css/toolbar.css', 'css/board.css', 'css/form.css', 'css/'+name+'_form.css'], js_files=[]) }}
{% endblock %}

{% block content %}
<div id="modal-dialog" class="modal-dialog"><div id="modal-dialog-window"></div></div>

<div id="main-container" class="main-container">

<div class="main-toolbar-container">
<div id="main-toolbar" class="main-toolbar seq"></div>
</div>

<div class="shtable-container">
  <table id="main-form" class="main-form"></table>
</div>

</div>

<script type="module">
import { addLoadEvent } from '{{ base_url }}/static/js/utils.js'
import { {{ form_class }} } from '{{ base_url }}/static/{{ form_path }}'

function init() {
    let columns = {{ columns|safe }}
    let column_infos = {{ column_infos|safe }}
    let levels = {{ levels|safe }}
    let level_infos = {{ level_infos|safe }}
    let form = {{ form|safe }}
    let baseURL = "{{ base_url|safe }}"
    // Form
    window.form = new {{ form_class }}(document.getElementById("main-form"), document.getElementById("modal-dialog"), document.getElementById("modal-dialog-window"), document.getElementById("main-toolbar"), {{ name|tojson }}, form, columns, column_infos, baseURL, levels, level_infos, {{ only_changes }}, {{ query_args|tojson }})
}

addLoadEvent(init)
</script>
{% endblock %}
